"*":
  "atom-clock":
    dateFormat: "ddd h:mm A"
    showClockIcon: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    use:
      "atom-ide-busy-signal": "default"
      "atom-ide-code-actions": "default"
      "atom-ide-code-format": "default"
      "atom-ide-code-highlight": "default"
      "atom-ide-console": "default"
      "atom-ide-datatip": "default"
      "atom-ide-debugger": "default"
      "atom-ide-definitions": "default"
      "atom-ide-diagnostics": "default"
      "atom-ide-diagnostics-ui": "default"
      "atom-ide-find-references": "default"
      "atom-ide-global": "default"
      "atom-ide-outline-view": "default"
      "atom-ide-signature-help": "default"
      "atom-ide-terminal": "default"
      hyperclick: "default"
  "atom-material-ui":
    colors: {}
    tabs:
      tintedTabBar: true
    treeView:
      blendTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: [
      "linter"
      "linter-clang"
    ]
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    projectHome: "/Users/BrandonRoehl/workspace"
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontSize: 12
    tabLength: 4
  "exception-reporting":
    userId: "d5cac5a7-3131-ea39-89d0-21be943bab7d"
  "file-icons":
    coloured: false
  "go-plus":
    autocomplete:
      snippetMode: "nameAndType"
    config: {}
    format: {}
    lint:
      args: [
        "--vendor"
        "--disable-all"
        "--enable=vet"
        "--enable=vetshadow"
        "--enable=golint"
        "--enable=ineffassign"
        "--tests"
        "--json"
        "."
      ]
    panel:
      displayMode: "closed"
    test:
      coverageDisplayMode: "gutter"
      coverageHighlightMode: "covered"
      runTestsOnSave: false
      runTestsWithCoverage: false
  "markdown-preview": {}
  nuclide:
    "nuclide-home": {}
    "nuclide-working-sets": {}
    use: {}
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
    toggles:
      autoClose: true
  "terminal-plus":
    core: {}
    style: {}
    toggles:
      autoClose: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    useClipboardAsDefaultRegister: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
